rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /equipos/{teamId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /jugadores/{playerId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /registros/{recordId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
